* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

.hero-banner {
  background-color: #dba8b73a;
  background-image: url("../images/Pixel-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 5px solid #dba8b7;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 0px 20px;
}

h1 {
  color: #dba8b7;
  font-size: 2.5rem;
}

nav {
  justify-content: flex-end;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 5px;
}

li a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  color: white;
  border-bottom: 3px dotted #dba8b7;
}

li a:hover {
  color: bisque;
}

h2 {
  padding: 0px 0px 20px 20px;
  color: antiquewhite;
  font-size: large;
}

h3 {
  font-size: 2rem;
  font-weight: 300px;
  color: #22202d;
  padding-right: 20px;
  text-align: end;
  border-right: 2px dotted #a9a1ce;
}

#about h3 {
  padding-left: 60px;
}

#work h3 {
  padding-left: 70px;
}

#contact h3 {
  padding-left: 33px;
}

.page-wrapper {
  margin: 30px;
  align: center;
}

.page-wrapper p {
  margin-left: 30px;
}

#about,
#work,
#contact {
  display: flex;
  align: center;
  margin: 30px 30px 30px 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
